@media (max-width: 1024px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Starcart {
        display: none;
    }

    .Starcart2 {
        display: none;
    }

    .Starcart3 {
        display: none;
    }

    .stargame {
        display: none;
    }

    .stargame2 {
        display: none;
    }

    .starfooter {
        display: none;
    }

    .starfooter2 {
        display: none;
    }

    .game-content__title {
        font-size: 34px;
        line-height: 40px;
    }
}

@media (min-width: 768px) and (max-width: 833px) {

    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .cart {
        width: 340px;
    }

    .cart1 {
        max-width: 340px;
        height: 282px;
    }

    .cart2 {
        max-width: 340px;
        height: 282px;
    }

    .cart3 {
        max-width: 340px;
        height: 282px;
    }

    .cart4 {
        max-width: 340px;
        height: 282px;
    }

    .cart5 {
        max-width: 340px;
        height: 282px;
    }

    .cart6 {
        max-width: 340px;
        height: 282px;
    }

    .cart__text {
        font-size: 28px;
    }

    .header__content-text {
        font-size: 20px;
    }

    .header__content {
        font-size: 22px;
    }

    .header__content-title {
        font-size: 55px;
        font-weight: 700;
        width: 720px;
    }

    .game__box-title {
        font-size: 60px;
    }

    .game__box {
        padding-top: 50px;
    }

    .game__box-text {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 50px;
    }

    .game-content {
        margin: 35px;
    }

    .game-conteiner {
        height: 282px;
        width: 680px;
    }

    .game-content__title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 18px;
    }

    .game-content__text {
        font-size: 14px;
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-weight: 400;
        text-align: left;
        margin-bottom: 10px;
        line-height: 20px;
    }

    .game-content__button {
        border-radius: 50px;
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 18px;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        width: 200px;
        height: 45px;
    }

    .mini-game__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 80px;
    }

    .mini-game__box-title {
        margin-bottom: 60px;
    }

}