* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: url(image/image.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.linetop {
  border: 0.54px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(26.86px);
          backdrop-filter: blur(26.86px);
  background: rgb(188, 236, 48);
  width: 3220px;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 51px;
  padding-left: 49px;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.litetop__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.linetop__animation {
  position: absolute;
  max-width: 100%;
}

.header__content {
  padding-top: 196px;
  padding-bottom: 156px;
}

.header__content-title {
  position: static;
  width: 769px;
  height: 156px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.header__content-text {
  width: 720px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.header__content-button {
  width: 247px;
  height: 66px;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 48px;
}

.header__content-button:hover {
  background: white;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  cursor: pointer;
  transition: all 1s;
}

.game {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.game__box {
  padding-top: 94px;
}

.game__box-title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.game__box-text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
}

.cart-box {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.cart-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cart {
  background-color: white;
  border-radius: 30px;
  width: 378px;
  z-index: 1;
}

.cart:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

.cart__content {
  padding-left: 32px;
  padding-bottom: 32px;
  width: 314px;
}

.cart__number {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 108px;
  padding: 8px 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.cart__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.mini-game {
  background-color: black;
  position: relative;
}

.mini-game__box {
  padding-bottom: 144px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mini-game__box-title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 72px;
  padding-top: 46px;
}

.game-content {
  width: 600px;
  margin: 48px;
}

.game-conteiner {
  display: flex;
  background-color: white;
  border-radius: 30px;
  justify-content: space-between;
}

.game-content__title {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.game-content__text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 36px;
}

.game-content__button {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
}

.game-content__button:hover {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(32, 32, 39);
  background-color: white;
  cursor: pointer;
}

.stargame {
  position: absolute;
  max-width: 100%;
  height: 35.15px;
  left: 1281.33px;
  top: 93px;
  transform: rotate(7.08deg);
}

.stargame2 {
  position: absolute;
  width: 68.86px;
  height: 68.86px;
  left: 1326.54px;
  top: 126px;
  transform: rotate(5.45deg);
}

.Starcart {
  position: absolute;
  width: 31.34px;
  height: 31.34px;
  left: 27.97px;
  top: 1570px;
  transform: rotate(5.45deg);
}

.Starcart2 {
  position: absolute;
  width: 54.6px;
  height: 54.6px;
  left: 45.18px;
  top: 1622px;
  transform: rotate(5.45deg);
}

.Starcart3 {
  position: absolute;
  width: 584.72px;
  height: 584.72px;
  /* left: 905px; */
  top: 77px;
  transform: rotate(-6.77deg);
  right: -143px;
}

.line {
  height: 150px;
  background-image: url(image/linefooter.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.line__text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.starfooter {
  position: absolute;
  max-width: 100%;
  height: 41px;
  right: calc(150px + (100vw - 1440px) / 2);
  bottom: 45px;
}

.starfooter2 {
  position: absolute;
  max-width: 100%;
  right: calc(52px + (100vw - 1440px) / 2);
  bottom: 65px;
  height: 69px;
}

.cart1 {
  max-width: 100%;
}

.cart2 {
  max-width: 100%;
}

.cart3 {
  max-width: 100%;
}

.cart4 {
  max-width: 100%;
}

.cart5 {
  max-width: 100%;
}

.cart6 {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Starcart {
    display: none;
  }
  .Starcart2 {
    display: none;
  }
  .Starcart3 {
    display: none;
  }
  .stargame {
    display: none;
  }
  .stargame2 {
    display: none;
  }
  .starfooter {
    display: none;
  }
  .starfooter2 {
    display: none;
  }
  .game-content__title {
    font-size: 34px;
    line-height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .cart {
    width: 340px;
  }
  .cart1 {
    max-width: 340px;
    height: 282px;
  }
  .cart2 {
    max-width: 340px;
    height: 282px;
  }
  .cart3 {
    max-width: 340px;
    height: 282px;
  }
  .cart4 {
    max-width: 340px;
    height: 282px;
  }
  .cart5 {
    max-width: 340px;
    height: 282px;
  }
  .cart6 {
    max-width: 340px;
    height: 282px;
  }
  .cart__text {
    font-size: 28px;
  }
  .header__content-text {
    font-size: 20px;
  }
  .header__content {
    font-size: 22px;
  }
  .header__content-title {
    font-size: 55px;
    font-weight: 700;
    width: 720px;
  }
  .game__box-title {
    font-size: 60px;
  }
  .game__box {
    padding-top: 50px;
  }
  .game__box-text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 50px;
  }
  .game-content {
    margin: 35px;
  }
  .game-conteiner {
    height: 282px;
    width: 680px;
  }
  .game-content__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 18px;
  }
  .game-content__text {
    font-size: 14px;
    color: rgb(32, 32, 39);
    font-family: Montserrat;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
    line-height: 20px;
  }
  .game-content__button {
    border-radius: 50px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    width: 200px;
    height: 45px;
  }
  .mini-game__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
  }
  .mini-game__box-title {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .header {
    background-image: url(image/mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
  }
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 147px;
    padding-bottom: 131px;
  }
  .header__content-button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 36px;
  }
  .header__content-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    width: 262px;
    height: 196px;
    margin-bottom: 24px;
  }
  .header__content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 296px;
    height: 60px;
  }
  .linetop {
    height: 51px;
    overflow: hidden;
  }
  .litetop__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;
  }
  .game__box {
    display: none;
  }
  .mini-game__box {
    padding-bottom: 49px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mini-game__box-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 48px;
  }
  .game-conteiner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .game-content {
    width: 284px;
  }
  .game-content__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
  }
  .game-content__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 32px;
  }
  .game-content__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  .mobile {
    display: flex;
    flex-direction: column;
  }
  .line {
    height: 100px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    width: 375px;
    height: 100px;
  }
  .line__text {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .Starcart {
    display: none;
  }
  .Starcart2 {
    display: none;
  }
  .Starcart3 {
    display: none;
  }
  .stargame {
    display: none;
  }
  .stargame2 {
    display: none;
  }
  .starfooter {
    display: none;
  }
  .starfooter2 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */